.checkbox {
  --checkbox-bg: #d5d3d5;
  --face-color-light: #ffffff;
  --face-color-dark: #ededed;
  --face-element-color: #8b8d8b;
  --face-shadow-color: rgba(0,0,0,0.3);

  width: 120px;
  height: 50px;
  background-color: var(--checkbox-bg);
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;

  svg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: 1.4s ease-in-out;

    .sleepy , .happy {
      transition: 0.8s ease-in-out 0.3s;

      * {
        fill: var(--face-element-color);
      }
    }

    .happy {
      transition: 0.8s ease-in-out;
      transform: translateX(-70px);

      .mouth, .eye {
        transform-origin: auto center;
        transform: scaleY(0.9) translateY(3px);
        transition: 0.6s cubic-bezier(0.46, -3.85, 0.25, 1);
      }
    }
    .sleepy * {
      transition: 0.5s cubic-bezier(1, 0, 0.76, 1.05) 1.4s;
    }
  }

  .face {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    fill: url('#face_gradient');
    // background: linear-gradient(-120deg, var(--face-color-light) 40%, var(--face-color-dark)) 200%;
    box-shadow: -1px 2px 4px var(--face-shadow-color);
  }
  &.checked {
    svg {
      transform: translateX(70px);

      .sleepy {
        transition: 0.8s cubic-bezier(1, 0, 0.76, 1.05);
        transform: translate(60px, 12px) rotateZ(-10deg) scaleY(0.9);

        * {
          transition: 0.5s cubic-bezier(1, 0, 0.76, 1.05) 0.4s;
        }
      }

      .happy {
        transition: 0.8s ease-in-out 0.4s;
        transform: translateX(0);

        .mouth, .eye {
          transform: scaleY(1) translateY(0px);
          transition: 0.6s cubic-bezier(0.46, 3.85, 0.25, 1) 0.8s;
        }
      }
    }
  }
}
